{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
<div class="gs-neumorphic-main-card-outer-container">
    <div class="gs-neumorphic-main-card-container">
        <div class="gs-neumorphic-main-card">
            <div class="gs-neumorphic-signup gs-form-open">
                <div class="gs-neumorphic-signup-login-header gs-open" data-button="gs-neumorphic-signup">@{{user.username | lower}}</div>
                <div class="gs-neumorphic-form-container">
                    <div>
                        {% for message in messages %}
                            <p style="color:red">{{ message }}</p>
                        {% endfor %}
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-image">
                            <div class="avatar-edit">
                                <input type='file' name="profileImage" id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload" class="pencil"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url({{profile.profile_img.url}});">
                                </div>
                            </div>
                        </div>

                        <input type="text" name="firstName" class="gs-neumorphic-input" placeholder="First Name" value={{user.first_name}}>
                        <input type="text" name="lastName" class="gs-neumorphic-input" placeholder="Last Name" value={{user.last_name}} >
                        <input type="text" name="email" class="gs-neumorphic-input" disabled value={{user.email}}>
                        <textarea type="text" name="bio" class="gs-neumorphic-input" placeholder="Bio" value={{profile.bio}}>{{profile.bio}}</textarea>
                        <input type="text" name="location" class="gs-neumorphic-input" placeholder="Location" value="{{profile.location}}">
                        <button class="gs-neumorphic-button">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
</script>